.App {
  text-align: center;
}


.App{
  text-align: center;
}

.black-nav{
  display: flex;
  background: black;
  width: 100%;
  color:white;
  padding-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal{
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;

}