.counter {
    border: 1px solid;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: black;
    line-height: 100px;  /* 세로 중앙 정렬을 위해 height와 같은 값 설정 */
    user-select: none;   /* 텍스트 선택 방지 */
    font-size: 40px;
}
